<a href="https://colab.research.google.com/github/tonykipkemboi/Gap_Inc._Virtual_Learning_Experience_COVID_DS_Project/blob/updates/GAP_Inc_COVID_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LOAD DATA

##Dependencies

In [189]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
from datetime import datetime, date

##Data load

In [190]:
# Set URL to GitHub repo data (US confirmed cases and death)
url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
url_death = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"

confirmed_data_raw = pd.read_csv(url_confirmed)
death_data_raw = pd.read_csv(url_death)

# DATA CLEANING

##Filter Confirmed Cases Data

In [191]:
# Drop unecessary columns in confirmed df
colms = ['UID', 'iso2', 'iso3', 'code3', 'Admin2', 'Lat', 'Long_', 'Country_Region']
confirmed_data_raw = confirmed_data_raw.drop(confirmed_data_raw[colms], axis=1)
state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
              'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
              'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
              'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
              'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
              'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
              'West Virginia', 'Wisconsin', 'Wyoming', 'District of Columbia']
state_df = confirmed_data_raw[confirmed_data_raw['Province_State'].isin(state)]
state_df = state_df[pd.notna(state_df['FIPS'])]
state_df = state_df.rename(columns=({'Province_State':'US_State'}))
#state_df.head()

# Sum confirmed cases by state per day
state_sum_conf = state_df.groupby(['US_State']).sum()
state_sum_conf1 = state_sum_conf[state_sum_conf.columns[1:]]
# sum the total confimed cases under new column
state_sum_conf1['Confirmed_Totals'] = state_sum_conf1.sum(axis=1)
state_sum_conf1.reset_index(inplace=True)
state_sum_conf1

                US_State  1/22/20  1/23/20  ...  5/29/21  5/30/21  Confirmed_Totals
0                Alabama        0        0  ...   543405   543405         106101077
1                 Alaska        0        0  ...    70208    70208          11988507
2                Arizona        0        0  ...   880466   880466         167253521
3               Arkansas        0        0  ...   341290   341351          65658407
4             California        0        0  ...  3788713  3789227         700690012
5               Colorado        0        0  ...   542405   542889          90672795
6            Connecticut        0        0  ...   347341   347341          60910061
7               Delaware        0        0  ...   108770   108821          18633426
8   District of Columbia        0        0  ...    48898    48898           9926853
9                Florida        0        0  ...  2320818  2320818         431790064
10               Georgia        0        0  ...  1123343  1123604         214371899
11                Hawaii        0        0  ...    36124    36246           6629204
12                 Idaho        0        0  ...   192012   192012          36696002
13              Illinois        0        0  ...  1380978  1381579         264440425
14               Indiana        0        0  ...   743338   743696         135647773
15                  Iowa        0        0  ...   371331   371382          74376262
16                Kansas        0        0  ...   315331   315331          59865944
17              Kentucky        0        0  ...   458275   458275          78680217
18             Louisiana        0        0  ...   470685   470685          99112410
19                 Maine        0        0  ...    67658    67745           8860533
20              Maryland        0        0  ...   459528   459777          88205811
21         Massachusetts        0        0  ...   703858   704019         126384581
22              Michigan        0        0  ...   964743   964743         148300528
23             Minnesota        0        0  ...   601105   601384         106615290
24           Mississippi        0        0  ...   317407   317407          64249753
25              Missouri        0        0  ...   561514   561742         107828165
26               Montana        0        0  ...   111785   111809          20153752
27              Nebraska        0        0  ...   223304   223304          43701785
28                Nevada        0        0  ...   323748   323748          62430992
29         New Hampshire        0        0  ...    98699    98726          14586133
30            New Jersey        0        0  ...  1015889  1016135         185081456
31            New Mexico        0        0  ...   202821   202821          37333484
32              New York        0        0  ...  2101055  2101875         383309262
33        North Carolina        0        0  ...  1001154  1001154         175451734
34          North Dakota        0        0  ...   109915   109935          21973384
35                  Ohio        0        0  ...  1101557  1101934         191197432
36              Oklahoma        0        0  ...   452777   452777          83111272
37                Oregon        0        0  ...   201005   201260          32607338
38          Pennsylvania        0        0  ...  1202912  1203378         194465284
39          Rhode Island        0        0  ...   151743   151743          26852955
40        South Carolina        0        0  ...   592912   593092         105866255
41          South Dakota        0        0  ...   124162   124162          24441200
42             Tennessee        0        0  ...   862401   862401         161903679
43                 Texas        0        0  ...  2952861  2953235         554997369
44                  Utah        0        0  ...   306929   307047          58045276
45               Vermont        0        0  ...    24200    24209           3138687
46              Virginia        0        0  ...   675165   675392         119371540
47            Washington        1        1  ...   435849   435849          74606751
48         West Virginia        0        0  ...   161287   161287          24942698
49             Wisconsin        0        0  ...   674003   674003         130715922
50               Wyoming        0        0  ...    60144    60144          10798791

[51 rows x 497 columns]

## Filter Death Data

In [180]:
# Drop unecessary columns and invalid states
cols = ['UID', 'iso2', 'iso3', 'code3','Lat', 'Long_', 'Admin2', 'Country_Region']
death_df = death_data_raw.drop(death_data_raw[cols], axis=1)
death_df = death_df.rename(columns=({'Province_State':'US_State'}))
death_df.reset_index(inplace=True)
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
              'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
              'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
              'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
              'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
              'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
              'West Virginia', 'Wisconsin', 'Wyoming', 'District of Columbia']
states_df = death_df[death_df['US_State'].isin(states)]
states_df = states_df[pd.notna(states_df['FIPS'])]
del states_df['FIPS']
#states_df.head()

# Sum all counties and aggregate by state and country (US)
state_sum = states_df.groupby(['US_State']).sum()
state_sum.reset_index(inplace=True)
del state_sum['index']
#state_sum1 = state_sum[state_sum.columns[:]]
#state_sum1['Death_Totals'] = state_sum1[2:].sum(axis=1)
state_sum

                US_State  Population  1/22/20  ...  5/28/21  5/29/21  5/30/21
0                Alabama     4903185        0  ...    11146    11146    11146
1                 Alaska      740995        0  ...      369      369      369
2                Arizona     7278717        0  ...    17609    17628    17628
3               Arkansas     3017804        0  ...     5830     5830     5832
4             California    39512223        0  ...    63218    63236    63247
5               Colorado     5758736        0  ...     6552     6576     6580
6            Connecticut     3565287        0  ...     8238     8238     8238
7               Delaware      973764        0  ...     1660     1661     1661
8   District of Columbia      705749        0  ...     1132     1132     1132
9                Florida    21477737        0  ...    36774    36774    36774
10               Georgia    10617423        0  ...    20820    20837    20837
11                Hawaii     1415872        0  ...      498      499      500
12                 Idaho     1787065        0  ...     2090     2090     2090
13              Illinois    12671821        0  ...    25127    25166    25185
14               Indiana     6732219        0  ...    13596    13615    13620
15                  Iowa     3155070        0  ...     6053     6055     6055
16                Kansas     2913314        0  ...     5077     5077     5077
17              Kentucky     4467673        0  ...     6758     6782     6782
18             Louisiana     4648794        0  ...    10576    10576    10576
19                 Maine     1344212        0  ...      825      825      825
20              Maryland     6045680        0  ...     9592     9599     9607
21         Massachusetts     6892503        0  ...    17849    17863    17867
22              Michigan     9986857        0  ...    20169    20221    20221
23             Minnesota     5639632        0  ...     7501     7511     7519
24           Mississippi     2976149        0  ...     7310     7310     7310
25              Missouri     6137428        0  ...     8908     8909     8909
26               Montana     1068778        0  ...     1612     1613     1613
27              Nebraska     1934408        0  ...     2249     2249     2249
28                Nevada     3080156        0  ...     5586     5586     5586
29         New Hampshire     1359711        0  ...     1351     1352     1353
30            New Jersey     8882190        0  ...    26185    26201    26207
31            New Mexico     2096829        0  ...     4263     4263     4263
32              New York    19453561        0  ...    53255    53269    53285
33        North Carolina    10488084        0  ...    13078    13078    13078
34          North Dakota      762062        0  ...     1543     1543     1543
35                  Ohio    11689100        1  ...    19861    19861    19861
36              Oklahoma     3956971        0  ...     7291     7291     7291
37                Oregon     4217737        0  ...     2665     2666     2668
38          Pennsylvania    12801989        0  ...    27175    27190    27196
39          Rhode Island     1059361        0  ...     2708     2708     2708
40        South Carolina     5148714        0  ...     9726     9728     9732
41          South Dakota      884659        0  ...     2010     2010     2010
42             Tennessee     6829174        0  ...    12441    12441    12441
43                 Texas    28995881        0  ...    51456    51491    51505
44                  Utah     3205958        0  ...     1570     1572     1572
45               Vermont      623989        0  ...      255      255      255
46              Virginia     8535519        0  ...    11156    11160    11173
47            Washington     7614893        0  ...     5765     5765     5765
48         West Virginia     1792147        0  ...     2792     2792     2792
49             Wisconsin     5822434        0  ...     7830     7830     7830
50               Wyoming      578759        0  ...      719      719      719

[51 rows x 497 columns]

##Create a DF with June 2020 Confirmed Cases Data

In [122]:
# create df for month of June 2020
June_df = state_sum_conf1.loc[:,'6/1/20':'6/30/20']
June_df['June_Totals'] = June_df[June_df.columns[:]].sum(axis=1)

# DF with June 2020 total confirmed cases only
June_Totals_df = pd.DataFrame(June_df['June_Totals'])
June_Totals_df

    June_Totals
0        812738
1         23332
2       1294975
3        402154
4       4991174
5        886864
6       1348657
7        312601
8        291828
9       2637866
10      1822772
11        22662
12       115391
13      3992626
14      1210849
15       729137
16       349925
17       384473
18      1432634
19        84059
20      1848484
21      3046198
22      1870653
23       924504
24       613191
25       465350
26        19785
27       508283
28       365159
29       159718
30      5028481
31       298313
32     11589235
33      1424785
34        93160
35      1279995
36       277700
37       183433
38      2513863
39       481310
40       635285
41       177960
42       959048
43      3054192
44       382996
45        33550
46      1644315
47       814596
48        71763
49       699650
50        33714

##Create a DF with population data only

In [184]:
# create a df with population data only
df_states = pd.DataFrame(state_sum['US_State'])
df_pop = pd.DataFrame(state_sum['Population'])
joined_df = df_states.join(df_pop) 
joined_df

Index(['US_State', 'Population'], dtype='object')

##Merge pop_df with June_Totals_df

In [187]:
# join both df
right = June_Totals_df
left = joined_df
merged_df = left.join(right)
merged_df

Index(['US_State', 'Population', 'June_Totals'], dtype='object')

# QUESTION 1:
##The most often used metric for overall rate of spread of the disease for a particular geography is cases per capita, which is the number of cases in that region divided by the population. Please calculate the infection rate per capita by state for June2021.

In [188]:
# per capita rate calculation of infection per 100k people
# x/total * 100000= infection PER 100K people
result = (merged_df['June_Totals']/merged_df['Population'] * 100000)
merged_df['Per_Capita (PER 100k)'] = result.round(0)
merged_df

                US_State  Population  June_Totals  Per_Capita (PER 100k)
0                Alabama     4903185       812738                16576.0
1                 Alaska      740995        23332                 3149.0
2                Arizona     7278717      1294975                17791.0
3               Arkansas     3017804       402154                13326.0
4             California    39512223      4991174                12632.0
5               Colorado     5758736       886864                15400.0
6            Connecticut     3565287      1348657                37827.0
7               Delaware      973764       312601                32102.0
8   District of Columbia      705749       291828                41350.0
9                Florida    21477737      2637866                12282.0
10               Georgia    10617423      1822772                17168.0
11                Hawaii     1415872        22662                 1601.0
12                 Idaho     1787065       115391                 6457.0
13              Illinois    12671821      3992626                31508.0
14               Indiana     6732219      1210849                17986.0
15                  Iowa     3155070       729137                23110.0
16                Kansas     2913314       349925                12011.0
17              Kentucky     4467673       384473                 8606.0
18             Louisiana     4648794      1432634                30817.0
19                 Maine     1344212        84059                 6253.0
20              Maryland     6045680      1848484                30575.0
21         Massachusetts     6892503      3046198                44196.0
22              Michigan     9986857      1870653                18731.0
23             Minnesota     5639632       924504                16393.0
24           Mississippi     2976149       613191                20604.0
25              Missouri     6137428       465350                 7582.0
26               Montana     1068778        19785                 1851.0
27              Nebraska     1934408       508283                26276.0
28                Nevada     3080156       365159                11855.0
29         New Hampshire     1359711       159718                11746.0
30            New Jersey     8882190      5028481                56613.0
31            New Mexico     2096829       298313                14227.0
32              New York    19453561     11589235                59574.0
33        North Carolina    10488084      1424785                13585.0
34          North Dakota      762062        93160                12225.0
35                  Ohio    11689100      1279995                10950.0
36              Oklahoma     3956971       277700                 7018.0
37                Oregon     4217737       183433                 4349.0
38          Pennsylvania    12801989      2513863                19637.0
39          Rhode Island     1059361       481310                45434.0
40        South Carolina     5148714       635285                12339.0
41          South Dakota      884659       177960                20116.0
42             Tennessee     6829174       959048                14043.0
43                 Texas    28995881      3054192                10533.0
44                  Utah     3205958       382996                11946.0
45               Vermont      623989        33550                 5377.0
46              Virginia     8535519      1644315                19264.0
47            Washington     7614893       814596                10697.0
48         West Virginia     1792147        71763                 4004.0
49             Wisconsin     5822434       699650                12016.0
50               Wyoming      578759        33714                 5825.0

# QUESTION 2:
##Plot the infection rate by state (per capita as above) by day for 2021for the largest 4 states in the US; Florida, California, Texas, and New York.

# QUESTION 3:
##Using the infections data and recent trends in how cases are moving, please come up with a methodology for forecasting the number of cases you expect to see in these 4 states for the next 90 days.

# QUESTION 4:
##Compare your forecasts to the one from the Institute of Health Metrics at the University of Washington (https://covid19.healthdata.org/projections)? How are your forecasts similar or different?